@model WebApplication4.Data.Course

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>
<div>
    <h4>Курс</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Опис:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Категорія:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Category1)
        </dd>
        <dt class = "col-sm-2">
            Рівень складності:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifficultyLevel.DifLevel)
        </dd>
        <dt class = "col-sm-2">
            Викладач (вся інформаці (ID, Юзернейм, Ім'я і фамілія)):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.Id), @Html.DisplayFor(model => model.Teachers.Username), @Html.DisplayFor(model => model.Teachers.FirstName) @Html.DisplayFor(model => model.Teachers.LastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="button-19" />
        <a class="button-19" asp-action="Index">Back to List</a>
    </form>
</div>
