@model WebApplication4.Data.Course

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/Views/Courses/Details.cshtml.css" />
</head>

<div class="container-color">
    <div class="mainContainer">
        <div class="TitleContainer">
            <div class="Container">
                <h1 class="title">
                    @Html.DisplayFor(model => model.Title)

                </h1>
                <div class="description">
                    @Html.DisplayFor(model => model.Description)
                </div>
                <p class="diflvl">Категорія: @Html.DisplayFor(model => model.Category.Category1)</p> @* перероби клас,щоб було без повторів *@
                <p class="diflvl">Рівень складності: @Html.DisplayFor(model => model.DifficultyLevel.DifLevel)</p>
                <span class="instructor-links">Створив: </span>
                <a href="#" class="instructor"> @Html.DisplayFor(model => model.Teachers.Username) </a>
            </div>

        </div>
        <div class="sidebar-container">
            <a href="https://www.youtube.com/watch?v=bf7NbRFyg3Y&ab_channel=scrapper9000" class="video-link">
                <div class="videoContainer">
                    <img src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg" class="video" alt="Video Thumbnail">
                    <div class="play-button"></div>
                </div>
            </a>
        </div>


    </div>


</div>




@* 
<div>
    <h4>Course</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Html.DisplayFor(model => model.Category.Category1)</td>
        </tr>
        <tr>
            <th>Difficulty Level</th>
            <td>@Html.DisplayFor(model => model.DifficultyLevel.DifLevel)</td>
        </tr>
        <tr>
            <th>Teachers</th>
            <td>@Html.DisplayFor(model => model.Teachers.FirstName) @Html.DisplayFor(model => model.Teachers.LastName)</td>
        </tr>
    </table>
</div>
<div>
    <a class="button-19" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="button-19" asp-action="Index">Back to List</a>
</div>
 *@