@model IEnumerable<WebApplication4.Data.Course>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/Views/Courses/Index.cshtml.css" />

</head>

<body>

    <h1>
        Курси<p class="button-19">
            <a asp-action="Create">Create New</a>
        </p>
    </h1>


    <table class="table table-bordered">
    <thead>
        <tr>
            <th>
@*                 @Html.DisplayNameFor(model => model.Title) *@
                назва
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.Description) *@
                Опис
            </th>

            <th>
@*                 @Html.DisplayNameFor(model => model.Category) *@
                Категорія
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.DifficultyLevel) *@
                рівень складності
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.Teachers) *@
                вчитель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Category1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyLevel.DifLevel)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.Teachers.FirstName) @Html.DisplayFor(modelItem => item.Teachers.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Переглянути деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
@* 
<style>
    body {
        background-color: black;
    }

    .custom-table {
        color: red;
        background-color: red;
    }

    .custom-h1 {
        color: aqua;
    }
</style> *@
</body>
<style>
h1{
    margin:10px 0;
}

</style>